.cattrib {
    border: 1px solid var(--c-bord);
    flex: 1;
    overflow: hidden;
}

.center {
    border: 2px solid var(--c-bord);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.row {
    display: flex;
    justify-content: space-around;
}

.node {
    border: 1px solid var(--c-main);
    margin:2px;
}

input {
    color: inherit;
    background: inherit;
    border: 1px solid var(--c-bord);
}

.node-input {
    width: 80px;
}

.dims {
    border: 2px solid var(--c-bord);
    margin: 3px;
text-align: center;
}

.dim-input {
    width: 90%;
   
}