.stage {
    width: 100%;
    height: 100%;
    background: grey;
    position: relative;
}

.out {
    background: pink;
}

.cont {
    position: absolute;
    background: orange;
    border: 1px solid blue;
}