.stage {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid red;
    background: grey;
}

.out {
    display: flex;
}

.cont {
    position: absolute;
    background: orange;
    border: 1px solid blue;
}