.set-main {
    width: 300px;
    max-height: calc(100% - 20px);
    overflow: auto;
}

.title {
    text-align: center;
}

.set-but {
    margin: 2px;
}

.set-buts {
    display: flex;
}

.set-lay {
    display: flex;
    justify-content: space-between;
}

.set-add {
    display: flex;
}

.set-l-header {
    text-align: center;
}

.set-l-main {
    border: 1px solid var(--c-bord);
    padding: 3px;
}

.set-info {
    width: 100%;
    display: flex;
}

.set-time-dif {
    text-align: right;
    width: 100%;
}