.main {
    border: 1px solid var(--c-bord);
    display: flex;
    width: 400px;
    height: 400px;
}

.item {
    background: var(--c-d-back);
    margin: 5px;
}
.re-divider{
    background: var(--c-d-back);
    cursor: res;
}
