.resizable {
    border: 1px solid var(--c-bord);
    display: flex;
    max-height: 100%;
    height: 99%;
}

.resizable-item {
    background: var(--c-back);
    overflow: hidden;
}

.re-divider {
    background: var(--c-bord);
    cursor: res;
}