.resizable {
    border: 1px solid var(--c-bord);
    display: flex;
    height: 100%;
    max-height: 90vh;
    background: var(--c-back);
}

.resizable-item {
    background: var(--c-back);
    overflow: hidden;
}

.re-divider {
    background: var(--c-bord);
    cursor: res;
}