.th-main {
    display: flex;
}

.the-main {
    background: var(--c-tab);
    text-align: center;
    margin-right:1px ;
    margin-bottom:1px ;
    
}

.the-selected {
    background: var(--c-d-tab);
}

.the-main:hover {
    filter: brightness(85%);
    cursor: pointer;
    border: 1px solid var(--d-tab)
}

.main{
    display: flex;
}
