.attrib-main {
    overflow: auto;
    height: 90%;
    padding-bottom: 20px;
}

.attrib-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--c-bord);
}

.at-name {
    background: var(--c-d-back);
    padding: 0px 3px;
}

input {
    background: inherit;
    border: 0px;
    color: inherit;
    width: 100%;
}