
.attrib-main {
    overflow: auto;
    height: 100%;
    padding-bottom: 20px;
}

.attrib-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--c-bord);
}

.at-name {
    background: var(--c-d-back);
    padding:0px 3px;
}

.at-imput {
    width: 100%;
    background: var(--c-d-back);
    height:10px;
    width: 120px;
}

input {
    background: inherit;
    border: 0px;
    color: inherit;
    width:100%;
}
.combo{
    display:flex;
    flex-direction: column;
}
.combo-item{
    margin:1px 2px;
    background: var(--c-back) ;
}
.combo-item:hover{
    background: var(--c-bord);
}