.main {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-center{
    border:4px solid var(--c-main);
    padding:10px;
    border-radius:10px;
    

}

.wrap-main {
    width: calc(100%-8px);

}

.wrap-focused {
    border: 2px solid var(--c-sec);
    box-shadow: 0px 0px 3px 3px grey;
}