.main {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.main-active{
    background: var(--c-active);
}
.file {
    width: 90%;
    margin: auto;
}
.file-area{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.file-row{
    border-top:2px solid var(--c-bord);
    width: min(100%,150%);
    display: flex;
    justify-content: space-between;
}