.main{
    display:flex;
    flex-direction: column;
    height:100%;
}
input {
    background: var(--c-back);
    color: inherit;
    width: calc(100% - 20px);
    border: 0px;
}

.rename-dirty {
    color: var(--c-dirty);
}

.rf-main {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--c-bord);
}

.btn-actions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn-actions > * {
    width: 80px;
    margin: 5px;
}