.mcc-main {
    display: flex;
    flex-direction: column;
    /* height:100%; */
    border: 2px solid grey;
    overflow: auto;
}

.btn-actions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn-actions>* {
    width: 80px;
    margin: 5px;
}

.mc-man {
    display: flex;
    justify-content: flex-end;

}

.mc-icon {
    width: 22px;
    height: 22px;
}

.mc-icon:hover {
    cursor: pointer;
}