
.wi-main {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--c-bord);
    margin: 3px;
    width: calc(100%-6px);
    text-align: center;
}

.wid-main{
    user-select: none;
}