.main {
    display: flex;
    position: relative;
    padding-left:20px;
}

.theme {
    justify-self: flex-end;
    position: absolute;
    right: 25px;
    background: var(--c-sec);
    padding: 0px 2px;

}

.sb-right {
    position: absolute;
    right: 5px;
    background: var(--c-sec);
    padding: 0px 2px;
    height: 20px;
}

.sb-left {
    position: absolute;
    left: 5px;
    background: var(--c-sec);
    padding: 0px 2px;
    height: 20px;
}